# These VITE_* envs will be injected into the @safeoutput/lib. In order to help with isolation. 

# ─── Client-side Environment Variables (safe to expose) ───────────────

VITE_ROOT_DOMAIN=http://root:3000
VITE_ORY_SDK_URL=http://ory_network:4000

# Optional overrides (uncomment if needed)
# VITE_KRATOS_PUBLIC_URL=http://kratos-public.svc.cluster.local
# VITE_KRATOS_BROWSER_URL=http://localhost:4433
# VITE_KRATOS_ADMIN_URL=http://kratos:4434
# VITE_HYDRA_ADMIN_URL=http://hydra:4445
# VITE_KETO_PUBLIC_URL=http://keto:4466
